<div ng-controller="veclienteController">

	<header class="topo">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
		    <a class="navbar-brand" ui-sref="clientes">Cadastro de Clientes</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link" ui-sref="clientes">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" ui-sref="cadastra">Novo Cliente</a>
		        </li>
		      </ul>
		    </div>
		    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
			  <button class="btn btn-dark" type="button" ui-sref="login">Sair</button>
			</div>
		  </div>
		</nav>
    </header>
    
    <div style="margin-top: 5%; margin-left: 5%; margin-right: 5%; margin-bottom: 5%;">
		<div class="container-fluid">
		  <div class="row">
		    <div class="w-75 p-3">
		      <label class="navbar-brand">Dados Cliente</label>
		    </div>
		    <div class="w-25 p-3" >
		      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
		      </div>
		    </div>
		  </div>
		  <div ng-repeat="cli in clientes" ng-show="cli.id==idAtual">
			  <div class="row">
			    <div class="w-75 p-3">
			      <label class="form-control">{{cli.nome}}</label>
			    </div>
			    <div class="w-25 p-3" >
			      <label class="form-control">{{cli.cpf}}</label>
			    </div>
			  </div>
			  <div ng-repeat="end in enderecos" ng-show="end.cpf==cli.cpf">
				<br><br>
				<div class="row">
				  	<div class="col">
				  		<label class="form-control">Rua: {{end.rua}}</label>
					</div>
					<div class="col">
						<label class="form-control">Numero: {{end.numero}}</label>
					</div>
				</div>
				<br>
				<div class="row">
				  	<div class="col">
				  		<label class="form-control">Cidade: {{end.cidade}}</label>
					</div>
					<div class="col">
						<label class="form-control">Estado: {{end.estado}}</label>
					</div>
					<div class="col">
						<label class="form-control">CEP: {{end.cep}}</label>
					</div>
				</div>
			  </div>
			  
		  </div>
	</div>  
	
</div>