<!DOCTYPE html>
<html ng-app="CadastroClientes">

<head>


<meta charset="UTF-8"/>
<title>Cadastro Clientes</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
<script src="./js/app.js"></script>
<script src="./js/controller/login-controller.js"></script>
<script src="./js/controller/clientes-controller.js"></script>

</head>

<body>

	<a ui-sref="clientes">login</a>

 	<div ui-view></div>
 
	
</body>

</html>